body {
    background: #ECF0F3;
    height: 100%;
}

#app {
    height: 100%;
}

.main {
    padding: 40px;
    height: calc(100vh - 52px);
    min-height: 600px;
}

.is-fullheight {
    height: 100vh;
}